html, body {
    height:100%;
    background-color: rgba(150, 170, 158, 0.94);
} 
.reachcolor{
  color: #425D4D;
  font-family: Cardo;
}
.intro {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

.introh1 {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

.introh2 {
  color: #425D4D;
  font-family: Cardo;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  width: 184.38px;
  text-align: center;
  margin: 6.70px;
}

.header {
  background-color: #96AA9E;
  width: 20%;
  height: 20%;
  margin: 5%;
}

#menu {
  float: inherit;
  font-family: 'Crimson Text', serif;
  font-size: 15PX;
  text-align: center; 
  background-color: black;
  margin-left:  25%;
  padding: 5px;
}
.menuA{
  float: inherit;
  font-family: 'Crimson Text', serif;
  font-size: 15PX;
  text-align: center; 
  background-color: black;
  margin-left:  10%;
  padding: 5px;
}

h1 {
  color: #425D4D;
  font-family: Cardo;
  font-size: 15px;
  text-align: center;
}

h2  {
  color:#343F4B;
  font-family:Cardo ;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-family: Cardo;
  color: #343F4B;
}

h3 {
  color: white;
  font-family: italic;
  font-size: 1.60rem;
  font-weight: 500;
  line-height: 1.2;
  width: 184.38px;
  margin-top: 0;
  font-weight: bold;
}
.title {
  padding-bottom: 0.50rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  
}
.project { 
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.imgfondo {
  background-image: url(../img/vintage.jpg);
  background-size: cover; 
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  background-position: center;
  
}
.clear {
  height: 30px;
  opacity:100%;
}

.imgperfil{
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100%;
  background-size: cover;
  bottom: 10px;
  background-image: url("https://marvel-live.freetls.fastly.net/canvas/2018/5/daa04dc2fef24c9d968d0a900e66ec74?quality=95&fake=.png");
}
.back1{
  background-color: #96AA9E;
  
}
.content{
  background-color: #96AA9E;
  padding: 10px;


}
#border{
  border-color: white;
  border-style: solid;
}

.name {
  font-family: Garamond;
  font-size:20px;
}

.boxme {
  background-color: white;
  border-color: black;
   padding-bottom:  15px;

}
.box {
  height: 250px;
   margin: 5px;
}

.marginpj {
  margin-right: 20px;
  margin-top: 100px;
  width: 826px;
  height: 523px;
}
.marginreach2 {
  margin-right: 20px;
  margin-top: 30px;
}

.marginreach1 {
  margin-top: 30px;
  margin-right: 20px;
}
.marginbox {
  margin: 30px;
  padding: 100%;
}

.marginpjbox {
    margin-top: 20px;
    margin-bottom: 5px;
}
.mgn {
  margin-bottom: 5px;

}
.margin {
  margin: 5px;
   margin-bottom: 100px;

}
#margin {
  margin: 10px;
  margin-bottom: 5px;

}
.boxA{
 height:280px;
  overflow-y: scroll;
  margin:  5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#tamano{
  height: 500px;
  width: 400px;
  position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}